<form action="/addTask" method="POST">
    <label for="taskEnter">Enter a Task: </label>
    <input type="text" id="taskInput" placeholder="task" name="task">
    <input type="submit" value="Add Task" id="addButton">
</form>
