<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section id="header">
        <%- include('partials/header.ejs') %>
        <h2 id="fullDate">Tasks for <%= day %></h2>
    </section>
    <section id="inputs">
        <form id="dailyForm">
            <label for="taskEnter">Enter a Task: </label>
            <input type="text" id="dailyTaskInput" placeholder="task" name="task">
            <input type="submit" value="Add Task" id="addButton">
        </form>
    </section>
    <section id="pendingTaskList">
            <h2>Pending Tasks</h2>
            <ul id="dailyPendingTasks"></ul>
    </section>
    <section id="footer">
        <%- include('partials/footer.ejs') %>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="./javascripts/main.js"></script>
</body>
</html>